table{
    width: 100%;
    border-collapse: collapse;
    background-image: url("../images/cara.jpeg");
}
td{
    border: 2px solid rgba(124, 252, 0, 1);
    padding: 10px;
    color: #ffffff;
}
th{
    color: #ffffff;
    border: 1.5px solid;
    padding: 20px;
}
body{
    background-image: url("assets/images/cara.jpeg");
}
